In [ ]:
# initial look at data + changing column headers

In [2]:
import pandas as pd
import numpy as np
import sqlite3
from pandasql import sqldf
import matplotlib.pyplot as plt
import statistics 
from scipy import stats

In [3]:
pip install dask

Requirement already satisfied: dask in c:\users\12155\anaconda\lib\site-packages (2022.7.0)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\12155\anaconda\lib\site-packages (from dask) (6.0)
Requirement already satisfied: partd>=0.3.10 in c:\users\12155\anaconda\lib\site-packages (from dask) (1.2.0)
Requirement already satisfied: fsspec>=0.6.0 in c:\users\12155\anaconda\lib\site-packages (from dask) (2023.3.0)
Requirement already satisfied: toolz>=0.8.2 in c:\users\12155\anaconda\lib\site-packages (from dask) (0.11.2)
Requirement already satisfied: packaging>=20.0 in c:\users\12155\anaconda\lib\site-packages (from dask) (21.3)
Requirement already satisfied: cloudpickle>=1.1.1 in c:\users\12155\anaconda\lib\site-packages (from dask) (2.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\12155\anaconda\lib\site-packages (from packaging>=20.0->dask) (3.0.9)
Requirement already satisfied: locket in c:\users\12155\anaconda\lib\site-packages (from partd>=0.3.10->dask) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import dask.dataframe as dd

In [5]:
filepath = r"C:\Users\12155\Documents\Python\mhcld-puf-2020-csv.csv"
dsk_df = dd.read_csv(filepath, low_memory = False)
dsk_df = dsk_df.compute()

In [6]:
# https://www.datafiles.samhsa.gov/dataset/mental-health-client-level-data-2020-mh-cld-2020-ds0001

In [7]:
dsk_df.shape

(6945521, 40)

In [8]:
dsk_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6945521 entries, 0 to 532591
Data columns (total 40 columns):
 #   Column       Dtype
---  ------       -----
 0   YEAR         int64
 1   AGE          int64
 2   EDUC         int64
 3   ETHNIC       int64
 4   RACE         int64
 5   GENDER       int64
 6   SPHSERVICE   int64
 7   CMPSERVICE   int64
 8   OPISERVICE   int64
 9   RTCSERVICE   int64
 10  IJSSERVICE   int64
 11  MH1          int64
 12  MH2          int64
 13  MH3          int64
 14  SUB          int64
 15  MARSTAT      int64
 16  SMISED       int64
 17  SAP          int64
 18  EMPLOY       int64
 19  DETNLF       int64
 20  VETERAN      int64
 21  LIVARAG      int64
 22  NUMMHS       int64
 23  TRAUSTREFLG  int64
 24  ANXIETYFLG   int64
 25  ADHDFLG      int64
 26  CONDUCTFLG   int64
 27  DELIRDEMFLG  int64
 28  BIPOLARFLG   int64
 29  DEPRESSFLG   int64
 30  ODDFLG       int64
 31  PDDFLG       int64
 32  PERSONFLG    int64
 33  SCHIZOFLG    int64
 34  ALCSUBFLG    int64
 35  OTHERDISFLG  int64
 36  STATEFIP     int64
 37  DIVISION     int64
 38  REGION       int64
 39  CASEID       int64
dtypes: int64(40)
memory usage: 2.1 GB

In [9]:
dsk_df.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,-9,4,3,1,1,1,1,2,...,0,0,0,1,0,0,1,6,3,20200000001
1,2020,1,2,4,1,1,2,1,2,2,...,0,0,0,0,0,1,1,6,3,20200000002
2,2020,6,-9,4,4,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20200000003
3,2020,14,-9,4,3,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20200000004
4,2020,13,-9,4,3,2,1,1,1,2,...,0,0,1,1,0,1,1,6,3,20200000005

In [10]:
#making copy of dataset
df=dsk_df

In [11]:
df['AGE'].unique()
#looking at dataset, may need to split into 3 groups to work with data easier

array([14,  1,  6, 13, 12,  9, 10,  8,  2,  7, 11,  5,  3,  4, -9],
      dtype=int64)

In [23]:
df_cleaned = df.rename(columns={"EDUC": "EDUCATION", "ETHNIC": "ETHNICITY", "SPHSERVICE":"STATE_PSYCHHOSP_SERVICES", "CMPSERVICE": "SMHA_COMM_PROGRAM", "OPISERVICE":"OTHER_PSYCH_INPATIENT", "RTCSERVICE":"RESIDENTIAL_TREATMENT_CENTER", "IJSSERVICE":"CARE_PROVIDED_UNDER_JUSTICE_SYSTEM", "MH1": "FIRST_MH_DIAGNOSIS", "MH2": "SECOND_MH_DIAGNOSIS", "MH3": "THIRD_MH_DIAGNOSIS", "SUB":"SUBSTANCE_USE", "MARSTAT": "MARITAL_STAT", "SMISED": "SERIOUS_MENTAL_EMOTIONAL_DIAG", "SAP": "SUBSTANCE_USE_PROB", "EMPLOY":"EMPLOYMENT", "DETNLF": "NOT_IN_LABOR_FORCE", "LIVARAG": "RESIDENTIAL_STATUS", "NUMMHS":"NUMBER_OF_DIAGNOSES", "TRAUSTREFLG": "TRAUMA_STRESS_DISORDER", "ANXIETYFLG": "ANXIETY_DIS", "ADHDFLG":"ADHD_DIS", "CONDUCTFLG":"CONDUCT_DIS", "DELIRDEMFLG":"DIMENTIA_DIL_DIS", "BIPOLARFLG":"BIPOLAR_DIS", "DEPRESSFLG":"DEPRESSIVE_DIS", "ODDFLG":"OPPOSITIONAL_DEFIANT_DIS", "PDDFLG":"PDEVELOPMENTAL_DIS", "PERSONFLG":"PERSONALITY_DIS", "SCHIZOFLG":"SCHIZOPHRENIA_or_PSYCHOTIC_DIS", "ALCSUBFLG":"ALC_SUB_DIS", "OTHERDISFLG":"OTHER_DIS", "STATEFIP": "STATE"})

In [24]:
df_cleaned.head()

,YEAR,AGE,EDUCATION,ETHNICITY,RACE,GENDER,STATE_PSYCHHOSP_SERVICES,SMHA_COMM_PROGRAM,OTHER_PSYCH_INPATIENT,RESIDENTIAL_TREATMENT_CENTER,...,OPPOSITIONAL_DEFIANT_DIS,PDEVELOPMENTAL_DIS,PERSONALITY_DIS,SCHIZOPHRENIA_or_PSYCHOTIC_DIS,ALC_SUB_DIS,OTHER_DIS,STATE,DIVISION,REGION,CASEID
0,2020,14,-9,4,3,1,1,1,1,2,...,0,0,0,1,0,0,1,6,3,20200000001
1,2020,1,2,4,1,1,2,1,2,2,...,0,0,0,0,0,1,1,6,3,20200000002
2,2020,6,-9,4,4,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20200000003
3,2020,14,-9,4,3,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20200000004
4,2020,13,-9,4,3,2,1,1,1,2,...,0,0,1,1,0,1,1,6,3,20200000005

In [25]:
df_cleaned.to_csv('cleaned_header_MHCLD.csv')

In [26]:
df_cleaned.head()

,YEAR,AGE,EDUCATION,ETHNICITY,RACE,GENDER,STATE_PSYCHHOSP_SERVICES,SMHA_COMM_PROGRAM,OTHER_PSYCH_INPATIENT,RESIDENTIAL_TREATMENT_CENTER,...,OPPOSITIONAL_DEFIANT_DIS,PDEVELOPMENTAL_DIS,PERSONALITY_DIS,SCHIZOPHRENIA_or_PSYCHOTIC_DIS,ALC_SUB_DIS,OTHER_DIS,STATE,DIVISION,REGION,CASEID
0,2020,14,-9,4,3,1,1,1,1,2,...,0,0,0,1,0,0,1,6,3,20200000001
1,2020,1,2,4,1,1,2,1,2,2,...,0,0,0,0,0,1,1,6,3,20200000002
2,2020,6,-9,4,4,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20200000003
3,2020,14,-9,4,3,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20200000004
4,2020,13,-9,4,3,2,1,1,1,2,...,0,0,1,1,0,1,1,6,3,20200000005